{% extends 'layout.twig' %}

{% macro nav_tree(tree) %}
	{% if tree|length %}
		<ul>
			{% for tree_page in tree %}
				<li class="{{ tree_page.parent_current ? 'parent_current' }} {{ tree_page.current ? 'current' }}">
					<a href="{{ tree_page.full_uri }}">
						{{ tree_page.title }}
					</a>
					{{ _self.nav_tree(tree_page.children) }}
				</li>
			{% endfor %}
		</ul>
	{% endif %}
{% endmacro %}

{% block content %}
	<div class="row">
		<div class="four columns">
			<aside>
				<h4>Navigation</h4>
				
				{{ _self.nav_tree(tree) }}
				
				{% if toc|length > 1 %}
					<h4>Page Contents</h4>
					
					<ul>
						{% for toc_link in toc %}
							<li><a href="#{{ toc_link.uri }}" class="toc-{{ toc_link.size }}">{{ toc_link.title }}</a></li>
						{% endfor %}
					</ul>
				{% endif %}
				
				{% if config.share_buttons %}
					<!-- AddToAny BEGIN -->
					<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
						<a class="a2a_dd" href="http://www.addtoany.com/share_save"></a>
						<a class="a2a_button_facebook"></a>
						<a class="a2a_button_twitter"></a>
						<a class="a2a_button_google_plus"></a>
					</div>
					<script type="text/javascript">
						var a2a_config = a2a_config || {};
						a2a_config.onclick = 1;
					</script>
					<script type="text/javascript" src="//static.addtoany.com/menu/page.js"></script>
					<!-- AddToAny END -->
				{% endif %}
			</aside>
		</div>
		<div class="eight columns">
			<div id="content">
				<div id="page-content">
					<h1 itemprop="name">{{ page.title }}</h1>
					<div id="breadcrumb" itemprop="breadcrumb">
						{% if breadcrumb|length > 1 %}
							{% for breadcrumb_page in breadcrumb %}
								{% if not loop.last %}<a href="{{ breadcrumb_page.full_uri }}">{% endif %}{{ breadcrumb_page.title }}{% if not loop.last %}</a> &raquo; {% endif %}
							{% endfor %}
						{% endif %}
					</div>
					<div itemprop="description">
						{{ page.content }}
					</div>
				</div>
				
				{% if config.disqus_shortname %}
					<div id="disqus_thread"></div>
				
					<script type="text/javascript">
						/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
						var disqus_shortname = '{{ config.disqus_shortname }}'; // required: replace example with your forum shortname
					
						/* * * DON'T EDIT BELOW THIS LINE * * */
						(function() {
							var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
							dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
							(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
						})();
					</script>
					<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
					<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}